<%= render :partial => "share/top" %>
<%= render :partial => "share/menu" %>
<div id="main">
  <table width="1007" height="138" border="0" align="center" cellpadding="0" cellspacing="0" >
    <tbody><tr>
      <td width="726" valign="top"><table width="728" border="0" cellpadding="0" cellspacing="0">
        <tbody><tr>
          <td width="379" height="201">
            <div id="KinSlideshow" style="visibility: visible; width: 367px; height: 268px; overflow: hidden; position: relative;">
              <div id="KSS_moveBox" style="width: 367px; height: 268px; overflow: hidden; position: relative;">
                <div id="KSS_XposBox" style="float: left; width: 2000%;">
                  <div id="KSS_content" style="float: left;">
                    <a href="/news/show/601" target="_blank">
                      <img src="/assets/news_img/20170315_xiao.jpg" width ="367" height="268" alt="协会获得2016年度苏州市“消费者满意单位”称号" style="border: 0px;"></a>
                </div></div></div>
              <div class="KSS_titleBar" style="height: 30px; width: 100%; position: absolute; bottom: 0px; left: 0px; background: rgb(122, 95, 40); opacity: 0;"></div>
              <div class="KSS_titleBox" style="height: 30px; width: 100%; position: absolute; bottom: 0px; left: 0px;"><h2 class="title" style="margin: 3px 0px 0px 6px; padding: 0px; font-size: 12px; color: rgb(255, 255, 255); font-family: Verdana; font-weight: normal;">协会获得2016年度苏州市“消费者满意单位”称号</h2></div>
              <!--<div class="KSS_btnBox" style="position:absolute;right:10px;bottom:5px; z-index:100">-->
                <!--<ul id="btnlistID" style="margin:0;padding:0; overflow:hidden">-->
                  <!--<li style="list-style: none; float: left; width: 18px; height: 18px; border-width: 1px; border-color: rgb(204, 204, 204); border-style: solid; background: rgb(255, 255, 255); text-align: center; cursor: pointer; margin-left: 3px; font-size: 12px; font-family: Verdana; line-height: 18px; opacity: 0.7; color: rgb(0, 0, 0);">1</li>-->
                  <!--<li style="list-style: none; float: left; width: 18px; height: 18px; border-width: 1px; border-color: rgb(204, 204, 204); border-style: solid; background: rgb(255, 255, 255); text-align: center; cursor: pointer; margin-left: 3px; font-size: 12px; font-family: Verdana; line-height: 18px; opacity: 0.7; color: rgb(0, 0, 0);">2</li>-->
                  <!--<li style="list-style: none; float: left; width: 18px; height: 18px; border-width: 1px; border-color: rgb(151, 132, 90); border-style: solid; background: rgb(166, 148, 108); text-align: center; cursor: pointer; margin-left: 3px; font-size: 12px; font-family: Verdana; line-height: 18px; opacity: 0.7; color: rgb(255, 255, 255);">3</li>-->
                  <!--<li style="list-style: none; float: left; width: 18px; height: 18px; border-width: 1px; border-color: rgb(204, 204, 204); border-style: solid; background: rgb(255, 255, 255); text-align: center; cursor: pointer; margin-left: 3px; font-size: 12px; font-family: Verdana; line-height: 18px; opacity: 0.7; color: rgb(0, 0, 0);">4</li>-->
                <!--</ul>-->
              <!--</div>-->
            </div>
          </td>
          <td width="349">
            <div style="border:#CCC solid 1px;">
              <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background:url(assets/main_img/mg.gif)" height="33">
                <tbody><tr>
                  <td width="6%" height="33">&nbsp;</td>
                  <td width="27%" align="center" style="font-size:14px;"><a href="more.asp?Classid=1&amp;tt=协会快讯" target="_blank"><strong>行业时讯</strong></a></td>
                  <td width="67%">&nbsp;</td>
                </tr>
                </tbody></table>
              <table width="336" height="211" border="0" align="center" cellpadding="0" cellspacing="0">
                <tbody><tr>
                  <td height="211">
                    <!--<script language="JavaScript" src="getMessage/getMessages_all.asp?classid=1&amp;n=8&amp;list=50" type="text/javascript"></script>-->
                    <table width="100%" border="0" cellspacing="0">
                      <tbody>
                      <tr>
                        <td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><%= link_to '昆山保险业开展“7.8全国保险公众日”宣传活动', :controller => "news", :action => "show", :id => 606 %></td>
                      </tr>

                      <tr>
                        <td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><%= link_to '协会获得2016年度苏州市“消费者满意单位”称号', :controller => "news", :action => "show", :id => 601 %></td>
                      </tr>
                      
                      <tr>
                        <td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><%= link_to '昆山市保险行业协会2016年财务审计报告', :controller => "news", :action => "show", :id => 602 %></td>
                      </tr>
                      
                      <tr>
                        <td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><%= link_to '昆山市保险行业协会2015年财务审计报告', :controller => "news", :action => "show", :id => 603 %></td>
                      </tr>
                      
                      <tr>
                        <td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><a href="show.asp?id=511&amp;tt=2017年昆山市保险监管大巡查动员" title="2017年昆山市保险监管大巡查动员" style="font-size:12px">2017年昆山市保险监管大巡查动员</a></td>
                      </tr>
                      
                      <tr>
                        <td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><a href="show.asp?id=510&amp;tt=人保财险2016年度保费突破10亿" title="人保财险2016年度保费突破10亿" style="font-size:12px">人保财险2016年度保费突破10亿</a></td>
                      </tr>
                      
                      <tr>
                        <td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><a href="show.asp?id=509&amp;tt=“中国人保成功护航汤尤杯”" title="“中国人保成功护航汤尤杯”" style="font-size:12px">中国人保成功护航汤尤杯</a></td>
                      </tr>
                      
                      <tr>
                        <td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><a href="show.asp?id=508&amp;tt=“人保财险叶明当选本市17届人大代表”" title="“人保财险叶明当选本市17届人大代表”" style="font-size:12px">人保财险叶明当选本市17届人大代表</a></td>
                      </tr>
                      
                      <tr></tr>
                      </tbody>
                      </table>
                  </td>
                </tr>
                </tbody></table>
            </div>
          </td>
        </tr>
        </tbody></table></td>
      <td width="258" valign="top">
        <!--<table width="253" height="130" border="0" cellpadding="0" cellspacing="0" background="images/tbao.gif" style="margin-left:8px;">-->
        <!--<tbody><tr>-->
          <!--<td height="33"><div align="right"><a href="toushu.asp?classid=12&amp;tt=投诉通报"><font color="#FFFFFF">+更多</font></a>&nbsp;&nbsp;&nbsp;&nbsp;</div></td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td height="97"><table width="230" height="42" border="0" align="center" style="padding-bottom:8px;">-->
            <!--<tbody><tr>-->
              <!--<td width="224">-->
                <!--<marquee direction="up" scrollamount="2" height="80" id="info1" onmouseover="info1.stop()" onmouseout="info1.start()" style="height: 80px;">-->
                  <!--<script language="JavaScript" src="getMessage/getMessages_showDay_twoLine3.asp?classid=5&amp;n=8&amp;list=33" type="text/javascript"></script><table width="100%" border="0" cellspacing="0"><tbody><tr><td height="26" style="font-size:12px; color:#3b3b3b;"><img src="assets/main_img/listleft.gif">&nbsp;2016-01-18</td></tr><tr><td style="font-size:12px; color:#3b3b3b; "><a href="UploadFile/upload_img/2016118154722734.doc" title="2015年度投诉情况通报" style="font-size:12px">2015年度投诉情况通报</a></td></tr><tr><td height="26" style="font-size:12px; color:#3b3b3b;"><img src="assets/main_img/listleft.gif">&nbsp;2015-12-01</td></tr><tr><td style="font-size:12px; color:#3b3b3b; "><a href="UploadFile/upload_img/2015121105155734.doc" title="2015年上半年年投诉情况" style="font-size:12px">2015年上半年年投诉情况</a></td></tr><tr><td height="26" style="font-size:12px; color:#3b3b3b;"><img src="assets/main_img/listleft.gif">&nbsp;2015-02-15</td></tr><tr><td style="font-size:12px; color:#3b3b3b; "><a href="UploadFile/upload_img/2015215103323734.doc" title="2014年投诉情况通报" style="font-size:12px">2014年投诉情况通报</a></td></tr><tr><td height="26" style="font-size:12px; color:#3b3b3b;"><img src="assets/main_img/listleft.gif">&nbsp;2014-08-05</td></tr><tr><td style="font-size:12px; color:#3b3b3b; "><a href="UploadFile/upload_img/20148514441734.doc" title="2014年上半年投诉情况通报" style="font-size:12px">2014年上半年投诉情况通报</a></td></tr><tr><td height="26" style="font-size:12px; color:#3b3b3b;"><img src="assets/main_img/listleft.gif">&nbsp;2014-08-05</td></tr><tr><td style="font-size:12px; color:#3b3b3b; "><a href="UploadFile/" title="2014年上半年投诉情况通报" style="font-size:12px">2014年上半年投诉情况通报</a></td></tr><tr><td height="26" style="font-size:12px; color:#3b3b3b;"><img src="assets/main_img/listleft.gif">&nbsp;2014-01-20</td></tr><tr><td style="font-size:12px; color:#3b3b3b; "><a href="UploadFile/upload_img/2014120151832734.doc" title="2013年投诉情况通报" style="font-size:12px">2013年投诉情况通报</a></td></tr><tr><td height="26" style="font-size:12px; color:#3b3b3b;"><img src="assets/main_img/listleft.gif">&nbsp;2013-09-13</td></tr><tr><td style="font-size:12px; color:#3b3b3b; "><a href="UploadFile/upload_img/2013913142014734.doc" title="2013年上半年投诉情况通报" style="font-size:12px">2013年上半年投诉情况通报</a></td></tr><tr><td height="26" style="font-size:12px; color:#3b3b3b;"><img src="assets/main_img/listleft.gif">&nbsp;2013-09-13</td></tr><tr><td style="font-size:12px; color:#3b3b3b; "><a href="UploadFile/upload_img/2013913141936734.doc" title="2012年投诉情况通报" style="font-size:12px">2012年投诉情况通报</a></td></tr></tbody></table>-->
                <!--</marquee>					</td>-->
            <!--</tr>-->
            <!--</tbody></table></td>-->
        <!--</tr>-->
        <!--</tbody></table>-->
        <div class="main_right_a"><a href="http://www.chinasia.cn/dengji.aspx" target="_blank"><img src="assets/main_img/f1.jpg" width="235" height="82" border="0"></a></div>
        <!--<table width="253" height="127" border="0" cellpadding="0" cellspacing="0" background="images/bxyms.gif" style="margin-left:8px; margin-top:10px;">-->
          <!--<tbody>-->
          <!--<tr>-->
            <!--<td height="33"><div align="right"><a href="video_list.asp?tt=《保险与民生》电视节目"><font color="#FFFFFF">+更多</font></a>&nbsp;&nbsp;&nbsp;&nbsp;</div></td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td height="98"><table width="231" height="42" border="0" align="center" style="padding-bottom:8px;">-->
              <!--<tbody><tr>-->
                <!--<td width="225">-->
                  <!--<script language="JavaScript" src="getMessage/getMessages_showDay_twoLine4.asp?classid=5&amp;n=2&amp;list=33" type="text/javascript"></script><table width="100%" border="0" cellspacing="0"><tbody><tr><td height="22" style="font-size:12px; color:#3b3b3b;"><img src="assets/main_img/listleft.gif">&nbsp;2016-01-04</td></tr><tr><td style="font-size:12px; color:#3b3b3b; "><a href="video.asp?id=120" title="友邦保险，中宏人寿：人身险销售过程需拍照" style="font-size:12px">友邦保险，中宏人寿：人身险销售过程...</a></td></tr><tr><td height="22" style="font-size:12px; color:#3b3b3b;"><img src="assets/main_img/listleft.gif">&nbsp;2015-12-13</td></tr><tr><td style="font-size:12px; color:#3b3b3b; "><a href="video.asp?id=119" title="平安养老，太平养老：“个人税优”撬动商业健康险市场" style="font-size:12px">平安养老，太平养老：“个人税优”撬...</a></td></tr></tbody></table>-->

                <!--</td>-->
              <!--</tr>-->
              <!--</tbody></table></td>-->
          <!--</tr>-->
          <!--</tbody></table></td>-->
        <div class="main_right_b"><a href="http://iir.circ.gov.cn/" target="_blank"><img src="assets/main_img/f2.jpg" width="235" height="78" border="0"></a></div>
        <div class="main_right_c"><a href="http://www.iachina.cn/rdzt/morezt/78hd17/" target="_blank"><img src="assets/main_img/20170601034653231.jpg" width="235" height="78" border="0"></a></div>
    </tr>
    </tbody></table>
  <div id="flash_center" align="center" background="/assets/main_img/bxgg.jpg" >
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="634" height="75">
      <param name="movie" value="/assets/main_img/sxy.swf">
      <param name="quality" value="high">
      <param name="wmode" value="transparent">
      <embed src="/assets/main_img/sxy.swf" width="634" height="75" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent">
    </object>
  </div>
  <table width="1007" height="138" border="0" align="center" cellpadding="0" cellspacing="0" >
    <tbody><tr>
      <td width="726" valign="top"><table width="728" border="0" cellpadding="0" cellspacing="0">
        <tbody><tr>
          <!--<td width="379" height="201">-->
            <!--<div id="KinSlideshow" style="visibility: visible; width: 367px; height: 268px; overflow: hidden; position: relative;">-->
              <!--<div id="KSS_moveBox" style="width: 367px; height: 268px; overflow: hidden; position: relative;">-->
                <!--<div id="KSS_XposBox" style="float: left; width: 2000%;">-->
                  <!--<div id="KSS_content" style="float: left;">-->
                    <!--<a href="show.asp?id=441" target="_blank">-->
                      <!--<img src="/assets/news_img/20170315_xiao.jpg" width ="367" height="268" alt="协会获得2016年度苏州市“消费者满意单位”称号" style="border: 0px;"></a>-->
                  <!--</div></div></div>-->
              <!--<div class="KSS_titleBar" style="height: 30px; width: 100%; position: absolute; bottom: 0px; left: 0px; background: rgb(122, 95, 40); opacity: 0;"></div>-->
              <!--<div class="KSS_titleBox" style="height: 30px; width: 100%; position: absolute; bottom: 0px; left: 0px;"><h2 class="title" style="margin: 3px 0px 0px 6px; padding: 0px; font-size: 12px; color: rgb(255, 255, 255); font-family: Verdana; font-weight: normal;">协会获得2016年度苏州市“消费者满意单位”称号</h2></div>-->
              <!--&lt;!&ndash;<div class="KSS_btnBox" style="position:absolute;right:10px;bottom:5px; z-index:100">&ndash;&gt;-->
              <!--&lt;!&ndash;<ul id="btnlistID" style="margin:0;padding:0; overflow:hidden">&ndash;&gt;-->
              <!--&lt;!&ndash;<li style="list-style: none; float: left; width: 18px; height: 18px; border-width: 1px; border-color: rgb(204, 204, 204); border-style: solid; background: rgb(255, 255, 255); text-align: center; cursor: pointer; margin-left: 3px; font-size: 12px; font-family: Verdana; line-height: 18px; opacity: 0.7; color: rgb(0, 0, 0);">1</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li style="list-style: none; float: left; width: 18px; height: 18px; border-width: 1px; border-color: rgb(204, 204, 204); border-style: solid; background: rgb(255, 255, 255); text-align: center; cursor: pointer; margin-left: 3px; font-size: 12px; font-family: Verdana; line-height: 18px; opacity: 0.7; color: rgb(0, 0, 0);">2</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li style="list-style: none; float: left; width: 18px; height: 18px; border-width: 1px; border-color: rgb(151, 132, 90); border-style: solid; background: rgb(166, 148, 108); text-align: center; cursor: pointer; margin-left: 3px; font-size: 12px; font-family: Verdana; line-height: 18px; opacity: 0.7; color: rgb(255, 255, 255);">3</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li style="list-style: none; float: left; width: 18px; height: 18px; border-width: 1px; border-color: rgb(204, 204, 204); border-style: solid; background: rgb(255, 255, 255); text-align: center; cursor: pointer; margin-left: 3px; font-size: 12px; font-family: Verdana; line-height: 18px; opacity: 0.7; color: rgb(0, 0, 0);">4</li>&ndash;&gt;-->
              <!--&lt;!&ndash;</ul>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
          <!--</td>-->
          <td width="349">
            <div style="border:#CCC solid 1px;">
              <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background:url(assets/main_img/mg.gif)" height="33">
                <tbody><tr>
                  <td width="6%" height="33">&nbsp;</td>
                  <td width="27%" align="center" style="font-size:14px;"><a href="more.asp?Classid=1&amp;tt=协会快讯" target="_blank"><strong>行业数据</strong></a></td>
                  <td width="67%">&nbsp;</td>
                </tr>
                </tbody></table>
              <table width="336" height="211" border="0" align="center" cellpadding="0" cellspacing="0">
                <tbody><tr>
                  <td height="211">
                    <!--<script language="JavaScript" src="getMessage/getMessages_all.asp?classid=1&amp;n=8&amp;list=50" type="text/javascript"></script>-->
                    <table width="100%" border="0" cellspacing="0">
                      <tbody>
                      <tr>
                        <td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><%= link_to '2017年1季度昆山保险统计数据', :controller => "data", :action => "show", :id => 305 %></td>
                      </tr>
                      
                      <tr>
                        <td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><%= link_to '2016年4季度昆山保险统计数据', :controller => "data", :action => "show", :id => 304 %></td>
                      </tr>
                      
                      <tr>
                        <td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><%= link_to '2016年3季度昆山保险统计数据', :controller => "data", :action => "show", :id => 301 %></td>
                      </tr>
                      
                      <tr>
                        <td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><%= link_to '2016年2季度昆山保险统计数据', :controller => "data", :action => "show", :id => 302 %></td>
                      </tr>
                      
                      <tr>
                        <td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><%= link_to '2016年1季度昆山保险统计数据', :controller => "data", :action => "show", :id => 303 %></td>
                      </tr>
                      
                      <tr>
                        <td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><%= link_to '2015年4季度昆山保险统计数据', :controller => "data", :action => "show", :id => 306 %></td>
                      </tr>
                      
                      <tr>
                        <td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><a href="show.asp?id=508&amp;tt=2015年3季度昆山保险统计数据" title="2015年3季度昆山保险统计数据" style="font-size:12px">2015年3季度昆山保险统计数据</a></td>
                      </tr>
                      
                      <tr><td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><a href="show.asp?id=507&amp;tt=2015年2季度昆山保险统计数据" title="2015年2季度昆山保险统计数据" style="font-size:12px">2015年2季度昆山保险统计数据</a></td></tr>
                      
                      </tbody>
                    </table>
                  </td>
                </tr>
                </tbody></table>
            </div>
          </td>
          <td width="349">
            <div style="border:#CCC solid 1px;">
              <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background:url(assets/main_img/mg.gif)" height="33">
                <tbody><tr>
                  <td width="6%" height="33">&nbsp;</td>
                  <td width="27%" align="center" style="font-size:14px;"><a href="more.asp?Classid=1&amp;tt=政策法规" target="_blank"><strong>政策法规</strong></a></td>
                  <td width="67%">&nbsp;</td>
                </tr>
                </tbody></table>
              <table width="336" height="211" border="0" align="center" cellpadding="0" cellspacing="0">
                <tbody><tr>
                  <td height="211">
                    <!--<script language="JavaScript" src="getMessage/getMessages_all.asp?classid=1&amp;n=8&amp;list=50" type="text/javascript"></script>-->
                    <table width="100%" border="0" cellspacing="0">
                      <tbody>
                      <tr>
                        <td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><%= link_to '中华人民共和国消费者权益保护法(2013年修正)', :controller => "law", :action => "show", :id => 101 %></td>
                      </tr>
                      
                      <tr>
                        <td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><%= link_to '人身保险公司保险条款和保险费率管理办法（2015年修订）', :controller => "law", :action => "show", :id => 102 %></td>
                      </tr>
                      
                      <tr>
                        <td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><%= link_to '保险专业代理机构监管规定（2015年修订）', :controller => "law", :action => "show", :id => 103 %></td>
                      </tr>
                      
                      <tr>
                        <td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><%= link_to '保险经纪机构监管规定（2015年修订）', :controller => "law", :action => "show", :id => 104 %></td>
                      </tr>
                      
                      <tr>
                        <td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><%= link_to '保险公司管理规定（2015年修订）', :controller => "law", :action => "show", :id => 105 %></td>
                      </tr>
                      
                      <tr>
                        <td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><%= link_to '保险公估机构监管规定（2015年修订）', :controller => "law", :action => "show", :id => 106 %></td>
                      </tr>
                      
                      <tr>
                        <td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><%= link_to '《中华人民共和国保险法》', :controller => "law", :action => "show", :id => 107 %></td>
                      </tr>
                      
                      <tr><td width="16" height="25" style="font-size:12px; color:#3b3b3b;" align="center"><img src="assets/main_img/listleft.gif"></td>
                        <td style="font-size:12px; color:#3b3b3b; "><a href="show.asp?id=507&amp;tt=《中华人民共和国保险法》" title="《中华人民共和国保险法》" style="font-size:12px">《中华人民共和国保险法》</a></td></tr>
                      
                      </tbody>
                    </table>
                  </td>
                </tr>
                </tbody></table>
            </div>
          </td>
        </tr>
        </tbody></table></td>
      <td width="258" valign="top">
        <div class="main_right_d"><img src="/assets/main_img/f3.jpg" width="235" height="46"></div>
        <div class="main_right_e">
          <div style="padding:5px 0px 0px 5px;">
            <marquee direction="up" scrollamount="2" scrolldelay="90" onmouseover="this.stop()" onmouseout="this.start()" style="height:240px;">
              <span style="font-size:16px;"><strong>保险公司：</strong></span><br>人保财险昆山中心支公司&nbsp;95518<br>中国人寿昆山支公司 95519<br>太平洋人寿昆山支公司<span style="white-space: pre;">&nbsp;</span>95500<br>平安财险昆山支公司<span style="white-space: pre;">&nbsp;</span>95511<br>中国人寿财险昆山市支公司<span style="white-space: pre;">&nbsp;</span>95585<br>太平财险吴江支公司<span style="white-space: pre;">&nbsp;</span>95519<br>都邦保险昆山支公司<span style="white-space: pre;">&nbsp;</span>95586<br>紫金财险昆山支公司<span style="white-space: pre;">&nbsp;</span>4008280018<br>太平财险昆山支公司<span style="white-space: pre;">&nbsp;</span>95589<br>友邦保险昆山营销服务部<span style="white-space: pre;">&nbsp;</span>4008203588<br>人民人寿昆山支公司<span style="white-space: pre;">&nbsp;</span>4008895518<br>陆家嘴国泰人寿昆山营销服务部<span style="white-space: pre;">&nbsp;</span>8008199899<br>太平人寿昆山支公司<span style="white-space: pre;">&nbsp;</span>95589<br>中华联合昆山支公司<span style="white-space: pre;">&nbsp;</span>95585<br>国泰财险昆山营销服务部<span style="white-space: pre;">&nbsp;</span>4008202288<br>大地保险昆山支公司<span style="white-space: pre;">&nbsp;</span>95590<br>中银保险昆山支公司<span style="white-space: pre;">&nbsp;</span>95566<br>新华人寿昆山支公司 95567<br><br>中宏人寿昆山市营销服务部<span style="white-space: pre;">&nbsp;</span>4008188888<br>中意人寿昆山营销服务部<span style="white-space: pre;">&nbsp;</span>4008889888<br>天安保险昆山支公司 95505<br>安诚财产保险昆山支公司 4000500000<br>浙商财产保险昆山支公司 4008666777<br>永安财险昆山支公司<span style="white-space: pre;">&nbsp;</span>95502<br>华安财险昆山支公司  95556<br>安邦财险昆山营销服务部<span style="white-space: pre;">&nbsp;</span>95569<br>阳光财险昆山支公司<span style="white-space: pre;">&nbsp;</span>95510<br>长安责任保险昆山支公司<span style="white-space: pre;">&nbsp;</span>95592<br>永诚保险昆山支公司<span style="white-space: pre;">&nbsp;</span>95552<br>浙商保险昆山支公司<span style="white-space: pre;">&nbsp;</span>4008666777<br>平安人寿昆山支公司<span style="white-space: pre;">&nbsp;</span>95511<br>信诚人寿昆山营销服务部<span style="white-space: pre;">&nbsp;</span>4008838838<br>民生人寿昆山营销服务部<span style="white-space: pre;">&nbsp;</span>95596<br>生命人寿昆山营销服务部<span style="white-space: pre;">&nbsp;</span>95535<br>泰康人寿昆山营销服务部<span style="white-space: pre;">&nbsp;</span>95522<br>华夏人寿昆山支公司<span style="white-space: pre;">&nbsp;</span>95300<br>华泰人寿昆山支公司<span style="white-space: pre;">&nbsp;</span>95509<br>信泰人寿昆山支公司<span style="white-space: pre;">&nbsp;</span>4006008890<br>幸福人寿昆山营销服务部<span style="white-space: pre;">&nbsp;</span>95560<br>东吴人寿昆山支公司<span style="white-space: pre;">&nbsp;</span>4008256789<br>阳光人寿昆山支公司<span style="white-space: pre;">&nbsp;</span>95510<br>建信人寿昆山支公司<span style="white-space: pre;">&nbsp;</span>95331<br>
            </marquee>
          </div>
        </div>
        <div class="main_right_f"><img src="/assets/main_img/fbottom.jpg" width="235" height="5"></div>
      </td>
    </tr>
    </tbody></table>
</div>
<%= render :partial => "share/links" %>
<%= render :partial => "share/foot" %>