<div id="menu">
  <div id="menu_all">
    <ul>
      <li>
        <%= link_to '网站首页', Rails.configuration.absoluteUrl %>
      </li>
      <li>
        <%= link_to '关于协会', Rails.configuration.absoluteUrl + '/about/show' %>
      </li>
      <li>
        <%= link_to '行业时讯', Rails.configuration.absoluteUrl + '/news/show' %>
      </li>
      <li>
        <%= link_to '政策法规', Rails.configuration.absoluteUrl + '/law/show'%>
      </li>
      <li>
        <%= link_to '行业数据', Rails.configuration.absoluteUrl + '/data/show' %>
      </li>
      <li>
        <%= link_to '联系我们', Rails.configuration.absoluteUrl + '/contact/show' %>
      </li>
      <li>
        <%= link_to '投诉信箱', Rails.configuration.absoluteUrl + '/email/show' %>
      </li>
    </ul>
  </div>
</div>