<%= render "share/top" %>
<%= render "share/menu" %>
<div id="newsMain">
  <div id="newsList">
    <div style="width:210px; overflow:hidden; float:left;">
      <div class="newsList_left">
        <div class="newsList_left_a">
          <table width="209" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td width="86" height="33" align="center" class="tie_a">行业时讯</td>
              <td width="135" align="right"><a href="">&nbsp;</a></td>
            </tr>
            </tbody></table>
        </div>
      </div>
    </div>
    <div class="newsList_right">
      <div class="newsList_right_a">
        <table width="752" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td width="10" height="33" align="center" class="tie_a">&nbsp;</td>
            <td width="423" style="line-height:38px;"><span class="tie_a">行业时讯</span></td>
            <td width="319" align="right" style="line-height:38px;">首页 &gt; 行业时讯 &gt; 行业时讯 &nbsp;</td>
          </tr>
          </tbody></table>
      </div>
      <div class="newsList_right_b">
        <div class="content_da"><ul class="nlist" style="padding-left:0px;">
          <li> &gt; <%= link_to '昆山保险业开展“7.8全国保险公众日”宣传活动', :controller => "news", :action => "show", :id => 606 %></li>
          <li> &gt; <%= link_to '协会获得2016年度苏州市“消费者满意单位”称号', :controller => "news", :action => "show", :id => 601 %></li>
          <li> &gt; <%= link_to '昆山市保险行业协会2016年财务审计报告', :controller => "news", :action => "show", :id => 602 %></li>
          <li> &gt; <%= link_to '昆山市保险行业协会2016年工作总结', :controller => "news", :action => "show", :id => 605 %></li>
          <li> &gt; <%= link_to '昆山市保险行业协会2015年财务审计报告', :controller => "news", :action => "show", :id => 603 %></li>
          <li> &gt; <%= link_to '昆山市保险行业协会2015年工作总结', :controller => "news", :action => "show", :id => 604 %></li>
          <li> &gt; <%= link_to '2017年昆山市保险监管大巡查动员', :controller => "news", :action => "show", :id => 607 %></li>
          <li> &gt; <%= link_to '中国人寿昆山支公司感恩回馈客户开展“健康口腔”服务活动', :controller => "news", :action => "show", :id => 608 %></li>
          <li> &gt; <%= link_to '昆山人保财险2016年度保费突破10亿元', :controller => "news", :action => "show", :id => 609 %></li>
          <li> &gt; <%= link_to '中国人保成功护航汤尤杯', :controller => "news", :action => "show", :id => 610 %></li>
          <div class="List_page"><a>总数：1</a><span>1</span><a>页次：1/1</a></div>
        </ul></div>
      </div>
      <div class="about_right_c"></div>
    </div>
  </div>
</div>
<%= render "share/links" %>
<%= render "share/foot" %>