<%= render "share/top" %>
<%= render "share/menu" %>
<div id="dataMain">
  <div id="dataList">
    <div style="width:210px; overflow:hidden; float:left;">
      <div class="dataList_left">
        <div class="dataList_left_a">
          <table width="209" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td width="86" height="33" align="center" class="tie_a">行业数据</td>
              <td width="135" align="right"><a href="">&nbsp;</a></td>
            </tr>
            </tbody></table>
        </div>
      </div>
    </div>
    <div class="dataList_right">
      <div class="dataList_right_a">
        <table width="752" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td width="10" height="33" align="center" class="tie_a">&nbsp;</td>
            <td width="423" style="line-height:38px;"><span class="tie_a">行业数据</span></td>
            <td width="319" align="right" style="line-height:38px;">首页 &gt; 行业数据 &gt; 行业数据 &nbsp;</td>
          </tr>
          </tbody></table>
      </div>
      <div class="dataList_right_b">
        <div class="content_da"><ul class="nlist" style="padding-left:0px;">
          <!--<li> &gt; <a href="zcfgshow.asp?id=51" title="中华人民共和国消费者权益保护法(2013年修正)">中华人民共和国消费者权益保护法(2013年修正)</a></li>-->
          <li> &gt; <%= link_to '2017年1月昆山保险统计数据', :controller => "data", :action => "show", :id => 101 %></li>
          <div class="List_page"><a>总数：1</a><span>1</span><a>页次：1/1</a></div>
        </ul></div>
      </div>
      <div class="about_right_c"></div>
    </div>
  </div>
</div>
<%= render "share/links" %>
<%= render "share/foot" %>